<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% if (style) { %>
    <style>
      <%= style %>
    </style>
    <% } %>
  </head>
  <body>
    <h1><%= message %></h1>
  </body>
</html>
